<div class="row">
  <div class="col-md-6">
    <h3>
      <span class="glyphicon glyphicon-list"></span>
      <span>{{statuses.length}} Tweets</span>
      <a href={{href}} class='btn btn-success pull-right'>
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Save CSV
      </a>
    </h3>
    <p>Showing {{statuses.length}} results for <a href="#">{{queryString}}</a></p>
  </div>
</div>

<div class="row" role="tabpanel">
  <div class="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#results-list-pane" aria-controls="results-list-pane" role="tab" data-toggle="tab">Results List</a></li>
      <li role="presentation"><a href="#results-table-pane" aria-controls="results-table-pane" role="tab" data-toggle="tab">Results Table</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="results-list-pane">
        <div class="row">

          <div class="col-md-6">
            {{#each statuses}}
              <div class="twitter-tweet-container">

                <img src={{user.profile_image_url}} />

                <div class="twitter-tweet">
                  <p>

                    <span class="user-name">{{user.name}}</span> <a href="https://twitter.com/{{@user.screen_name}}">@{{user.screen_name}}</a> <a class="date" href="https://www.twitter.com/{{user.screen_name}}/status/{{id_str}}">April 4, 2015</a>

                  </p>

                  <p>{{text}}</p>
                </div>

              </div>
            {{/each}}
          </div>

          <div class="col-md-3">
            <h4>Hashtags</h4>
            <ul class="list-unstyled list-inline">
              {{#each hashtags}}
              <li><a href="#">#{{this}}</a></li>
              {{/each}}
            </ul>

            <h4>URLs</h4>
            <ul class="list-unstyled">
              {{#each urls}}
                <li><a href="{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>

        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="results-table-pane">
        <p>yoloworld</p>
      <div>
    </div>
  </div>

</div>



