{{#each statuses}}
  <tr>
    <td>{{user.name}}</td>
    <td>{{user.screen_name}}</td>
    <td>{{text}}</td>
    <td>{{created_at}}</td>
    <td>{{retweet_count}}</td>
    <td>{{user.favourites_count}}</td>
  </tr>
{{/each}}
